<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    
    <listeners>
        <listener class-name="org.ciq.listeners.ReportListener"></listener>
        <listener class-name="org.ciq.listeners.RetryListener"></listener>
    </listeners>

    <test verbose="2" preserve-order="true" name="All Test" parallel="methods"  thread-count="2">
        <packages>
            <package name="org.ciq.tests.specialist"></package>
            <package name="org.ciq.tests.ithaca"></package>

            <!--<package name="org.ciq.tests.surveys"></package>-->
        </packages>
    </test>
</suite>