<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    
    <listeners>
        <listener class-name="listeners.ReportListener"></listener>
        <listener class-name="listeners.RetryListener"></listener>
    </listeners>

    <test verbose="2" preserve-order="true" name="C:/Users/satya/CIQAutomation/src/test/java/tests/UserLogin.java">
        <classes>
            <class name="tests.UserLogin">
                <methods>
                    <include name="test"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>